:root {
  --deep-purple: #100e1d;
  --dark-blue: #2d2a4a;
  --charcoal: #4e4c67;
  --accent: rgb(255, 52, 52);
}

body {
  background-color: #212121;
  color: var(--accent);
  font-family: 'Arial', sans-serif;
  
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--charcoal);
}

ul {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider-img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 18px;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  border-radius: 3vh;
  padding: 10px;
  position: fixed;
  bottom: 0.5vh;
  width: 70%;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

.navbar li {
  list-style: none;
  position: relative;
}

.navbar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  text-decoration: none;
  color: #888;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s, width 0.3s, height 0.3s, border-radius 0.3s;
}

.navbar li.active a {
  background-color: rgb(255, 52, 52);
  color: white;
  width: auto;
  padding: 10px 10px;
  height: auto;
  border-radius: 10px;
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar li.active a::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-color: #212121;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .navbar li a:hover {
  width: 15vh;
  color: white;
} */

/* .navbar li.active a:hover {
  background-color: rgb(255, 52, 52);
  border-radius: 10vh;
} */



.grid-gallery {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  margin-bottom:20vh;
  /* margin: 0 auto; */
      backdrop-filter: blur(18px) saturate(200%);
        -webkit-backdrop-filter: blur(18px) saturate(200%);
        background-color: rgba(40, 17, 17, 0.74);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
}

.grid-item {
  position: relative;
  cursor: pointer;
  padding :inherit;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.caption {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.home-container {
  position: relative;
  background: url('./assets/image14.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  /* margin-bottom: 10vh; */
}

.content {
  margin-top: 50px;
}

#home-logo {
  width: 150px;
  margin-bottom: 20px;
}

.image-gallery {
  padding: 3vh;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(18px) saturate(200%);
    background-color: rgba(147, 147, 147, 0.125);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.gallery-image {
  width: 10vh;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.1);
}

/* src/components/Contact.css */

.contact-page {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(255, 52, 52);
}

.contact-page p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: rgb(255, 52, 52);
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.contact-list li {
  font-size: 1.2em;
  color: rgb(255, 52, 52);
  margin: 10px 0;
}

#contactform {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.contact-card {
  width: 300px;
  border: 2px solid rgb(255, 52, 52);
  background-color: transparent;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4vh 10vh rgba(255, 0, 0, 0.397);
}

.contact-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color:rgb(255, 52, 52);
  margin: 0 auto 20px;
}

.contact-avatar svg {
  width: 32px;
  height: 32px;
  color: #fff;
}

.contact-name {
  font-size: 1.5em;
  color: rgb(255, 52, 52);
  margin-bottom: 10px;
}

.contact-title {
  font-size: 1.2em;
  /* color: #666; */
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: rgb(255, 52, 52); */
  transition: background-color 0.3s;
}

.social-icon:hover {
  /* background-color: rgb(255, 52, 52); */
}

.social-icon svg {
  width: 5vh;
  height: 5vh;
  /* color: rgb(255, 52, 52); */
}

/* .social-icon:hover svg {
  color: #fff;
} */


/* .home-container {
    backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.75);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);
} */

.content{
  width: 80%; 
  padding: 3vh;
      backdrop-filter: blur(8px) saturate(200%);
        -webkit-backdrop-filter: blur(2px) saturate(200%);
        background-color: rgba(69, 69, 69, 0.74);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
}
.card {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(0, 92%, 58%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* Reduced gap */

  padding: 0.5rem;
  /* Reduced padding */
  width: 19rem;
  background-color: hsla(240, 15%, 9%, 1);
  background-image: radial-gradient(at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%),
    radial-gradient(at 49% 30%, rgb(26, 20, 20) 0px, transparent 85%),
    radial-gradient(at 14% 26%, rgb(26, 20, 20) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(0, 98%, 26%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsl(0, 97%, 36%) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(0, 94%, 13%) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card .card__border {
  overflow: hidden;
  pointer-events: none;

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(0deg,
      hsl(0, 100%, 83%) -50%,
      hsl(0, 0%, 40%) 100%);

  border-radius: 1rem;
}

.card .card__border::before {
  content: "";
  pointer-events: none;

  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), rotate(0deg);
  transform-origin: left;

  width: 200%;
  height: 10rem;
  background-image: linear-gradient(0deg,
      hsla(0, 0%, 100%, 0) 0%,
      hsl(0, 100%, 50%) 40%,
      hsl(0, 100%, 50%) 60%,
      hsla(0, 0%, 40%, 0) 100%);

  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.card .card_title__container .card_title {
  font-size: 0.88rem;
  color: var(--white);
}

.card .card_title__container  {
  margin-top: 0.25rem;
  width: 65%;

  font-size: 0.5rem;
  color: var(--paragraph);
}

.card_paragraph{
font-size: 0.8rem;
}

.card .line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--line);

  border: none;
}

.card .card__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* Reduced gap */
}

.card .card__list .card__list_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card .card__list .card__list_item .check {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1rem;
  height: 1rem;
  background-color: var(--primary);

  border-radius: 50%;
}

.card .card__list .card__list_item .check .check_svg {
  width: 0.75rem;
  height: 0.75rem;

  fill: var(--black);
}

.card .card__list .card__list_item .list_text {
  font-size: 0.75rem;
  color: var(--white);
}

.card .button {
  cursor: pointer;

  padding: 0.5rem;
  width: 100%;
  color: rgb(255, 52, 52);

  font-size: 0.75rem;
  /* color: var(--red); */

  border: 0;
  border-radius: 9999px;
  box-shadow: inset 0 -2px 25px -4px var(--white);
}